@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-[#0b0c2a];
}

.leftLine:before{
  position: absolute;
  content: "";
  left: 0;
  top: 0px;
  height: 2.4rem;
  width: 6px;
  background: #e53637;

}
.leftLine{
  @apply relative pl-16 font-semibold text-[2rem] mb-4;
}